<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Keranjang</title>
    <link rel="stylesheet" href="styles/completed.css">
</head>

<body>
    <header id="home">
        <%- include("partials/sidebar") %>


    </header>

    <%- include("partials/section-nav") %>

    <main>
        <div class="order-card">
            <div class="items">
                <div class="order-item">
                    <img src="images/product1.png" alt="Product Image">
                    <div class="order-info">
                        <p class="order-title">4-code premium bit x1</p>
                        <p class="order-price">Rp56.000</p>
                    </div>
                </div>
                <div class="order-item">
                    <img src="images/product2.png" alt="Product Image">
                    <div class="order-info">
                        <p class="order-title">4-code premium bit x2</p>
                        <p class="order-price">Rp56.000</p>
                    </div>
                </div>
                <% completed.items.forEach(item => { %>
                    <div class="order-item">
                        <img src="<%= item.product.imagePath %>" alt="Product Image">
                        <div class="order-info">
                            <p class="order-title"><%= item.product.name %> x<%= item.quantity %></p>
                            <p class="order-price">Rp<%= item.product.price %></p>
                        </div>
                    </div>
                <% }) %>
            </div>

            <div class="total">Rp <%= subtotal %></div>
            <div class="status">Selesai</div>
        </div>
    </main>

    <%- include("partials/footer") %>


    <script src="scripts/scripts.js"></script>
</body>

</html>