<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Keranjang</title>
    <link rel="stylesheet" href="styles/inprocess.css">
</head>

<body>
    <header id="home">
        <%- include("partials/sidebar") %>
    </header>
    
    <section>
        <nav>
            <ul>
                <li><a href="/shop">SHOPPING CART</a></li>
                <li><a href="/inprocess" class="active">IN PROCESS</a></li>
                <li><a href="/completed">COMPLETED</a></li>
            </ul>
        </nav>
    </section>

    <main>
        <div class="order-card">
            <div class="items">
                <!-- dengan logika templating -->
                 <% process.items.forEach(item => { %>
                    <div class="order-item">
                        <img src="<%= item.product.imagePath %>" alt="Product Image">
                        <div class="order-info">
                            <p class="order-title"><%= item.product.name %> x<%= item.quantity %></p>
                            <p class="order-price">Rp<%= item.product.price*item.quantity %></p>
                        </div>
                    </div>
                <% }) %>
            </div>

            <div class="total">Total: Rp <%= subtotal %></div>
            <div class="status">sudah dikirim</div>
            <form action="/completed" method="POST">
                <button type="submit">Selesai</button>
        </div>
    </main>

    <%- include("partials/footer") %>

    <script src="/scripts/scripts.js"></script>
</body>

</html>