<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Keranjang</title>
    <link rel="stylesheet" href="styles/style-shop.css">
</head>

<body>
    <header id="home">
        <%- include("partials/sidebar") %>
    </header>

    <section>
        <nav>
            <ul>
                <li><a href="/shop" class="active">SHOPPING CART</a></li>
                <li><a href="/inprocess">IN PROCESS</a></li>
                <li><a href="/completed">COMPLETED</a></li>
            </ul>
        </nav>
    </section>

    <section class="keranjang">
        <!-- dengan logika templating -->
        <div class="items">
        <% cart.items.forEach(item => { %>
            <div class="item">
                <img src="<%= item.product.imagePath %>" alt="produk-keranjang">
                <div class="details">
                    <span class="item-name"><%= item.product.name %></span>
                    <span class="item-price">Rp<%= item.product.price %></span>
                </div>
                <div class="quantity">
                    <a><%= item.quantity %></a>
                    <button class="plus" data-cart-id="<%= item.id %>">Edit</button>
                </div>
            </div>
            
            <!-- panel untuk floating form saat melakukan pengeditan kuantitas item -->
            <div class="updateFloating" style="display: none;">
                <form method="POST" action="/updateCart" class="quantity-update-form">
                    <input type="hidden" name="cartId" value="<%= item.id %>">
                    <input type="number" name="quantity" min="1" value="<%= item.quantity %>">
                    <button class="plus" type="submit">Update Quantity</button>
                </form>
            </div>
        <% }); %>
        </div>

        <div class="order-summary">
            <h2>Order Summary</h2>
            <div class="summary-details">
                <div class="subtotal">
                    <span>Subtotal</span>
                    <span><%= subtotal %></span>
                </div>
                <form method="POST" action="/inprocess">
                    <div class="shipping">
                        <span>Pilih Pengiriman</span>
                        <select>
                            <option value="gopay">SELECT</option>
                            <option value="gosend">GO-SEND</option>
                            <option value="jne">JNE</option>
                            <option value="jnt">JNT</option>
                            <option value="sicepat">SICEPAT</option>
                            <option value="wahana">WAHANA</option>
                        </select>
                    </div>
                    <div class="payment-method">
                        <span>Metode Pembayaran</span>
                        <select name="paymentMethod">
                            <option value="">SELECT</option>
                            <option value="method1">GO-PAY</option>
                            <option value="method2">DANA</option>
                            <option value="method3">OVO</option>
                            <option value="method4">LINKAJA</option>
                            <option value="method5">SHOPEEPAY</option>
                            <option value="method6">BANK TRANSFER</option>
                        </select>
                    </div>
                    <div class="total">
                        <span>Total</span>
                        <span>Rp<%= subtotal %></span>
                    </div>
                </div>
                <button class="checkout" onclick="ShowQR()">CHECKOUT</button>
                <!-- nanda mau checkout tapi customer belum loin-->
                <button class="checkout2">CHECKOUT</button>
            </form>
        </div>
    </section>

    <div class="popup-qr" id="qr-popup">
        <div class="popup-content-qr">
            <span class="close" onclick="closeQR()">&times;</span>
            <h2>Scan QR untuk Bayar</h2>
            <img src="images/QR.png" alt="QR" class="icon">
        </div>
    </div>


    <%- include("partials/footer") %>


    <script src="scripts/scripts.js"></script>
</body>

</html>